.banner {
    background: var(--cor-de-fundo);
    color: var(--azul-claro);
    text-align: center;
    padding: 1em;
}

.banner__titulo {
    font-size: 30px;
    font-weight: 700;
    margin-top: 10px;
}

@media screen and (min-width: 1024px) {
    .banner__titulo {
        font-size: 36px;
    }
}